<h1>編集</h1>

<%= render 'form', apply_post: @apply_post %>

<button type="button" class="btn btn-success"><%= link_to 'Show', @apply_post %></button>
<button type="button" class="btn btn-success"><%= link_to 'Back', apply_posts_path %></button>
