<h1>進捗編集</h1>

<%= render 'form', progress: @progress %>

<button type="button" class="btn btn-outline-primary"><%= link_to '詳細', @progress %></button>
<button type="button" class="btn btn-outline-primary"><%= link_to '戻る', progresses_path %></button>
