<h1>Editing Place Post</h1>

<%= render 'form', place_post: @place_post %>

<button type="button" class="btn btn-success"><%= link_to '詳細', @place_post %></button>
<button type="button" class="btn btn-success"><%= link_to '戻る', place_posts_path %></button>
