<h1>編集</h1>

<%= render 'form', car_post: @car_post %>

<button type="button" class="btn btn-success"><%= link_to '詳細', @car_post %></button>
<button type="button" class="btn btn-success"><%= link_to '戻る', car_posts_path %></button>